.container-usermanagement {
  margin-left: auto;
}

.content-usermanagement {
  background-color: #fff;
  border-radius: 10px;
}

.table-usermanagement {
  margin-left: 10%;
}

.input-filter {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
}

.box-filter {
  width: 500px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.modal-person {
  background-color: #ebebeb !important;
}

.detail-profile .card-one .card-two .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.detail-profile .card {
  border-radius: 10px;
}

.ktp_img {
  width: 350px;
  height: 200px;
}

.button-workingArea {
  margin-left: 27vw;
}