.content {
  width: fit-content;
  background-color: #fff;
  border-radius: 10px;
}

input {
  border-radius: 10px;
  border: 1px solid #dc143c;
  width: 820px;
  height: 60px;
  padding-left: 20px;
}

::placeholder {
  color: #dc143c;
  opacity: 0.25;
}

.button {
  border-radius: 10px;
  width: 820px !important;
  height: 60px !important;
}

.form-register{
  padding-left: 20px !important;
}